/* CUSTOM FONT */
@font-face {
  font-family: 'Chubby Relief';
  src: url('../Assets/fonts/Chubby Relief.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
main {
  background-color: #000000;
  min-height: 100vh;
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 12px 0;
  font-family: 'Chubby Relief', sans-serif;
  gap: 50px; 
}

nav a {
  text-decoration: none;
  font-size: 50px;
  transition: transform 0.2s, color 0.2s;
}

/* Unique colors for each link of the nav */
nav a:nth-child(1) { color: #ff3c63; }
nav a:nth-child(2) { color: #4dffa3; }
nav a:nth-child(3) { color: #0ba2ff; }

/* Hover effect */
nav a:hover {
  transform: scale(1.2) rotate(-3deg);
  filter: brightness(1.4);
}

.hobby{
    font-family: 'Chubby Relief', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}